<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>{{ shop.name }} — {{ page_title }}</title>

  {{ content_for_header }}

  {{ 'base.css' | asset_url | stylesheet_tag }}
  {{ 'theme.js' | asset_url | script_tag }}
</head>
{{ 'base.css' | asset_url | stylesheet_tag }}

<body>
<div id="loader">
  <div class="loader-circle"></div>
</div>

{% render 'header' %}
  {{ content_for_layout }}
{{ 'theme.js' | asset_url | script_tag }}

</body>
</html>
